<!doctype html>
<html
        lang="en"
        class="light-style layout-menu-fixed layout-compact"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-free"
        data-style="light">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Quản lý chi nhánh</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
            rel="stylesheet"/>

    <link rel="stylesheet" href="/assets/vendor/fonts/remixicon/remixicon.css"/>

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>

    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/css/custom/loading.css"/>

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo me-1">
                <span style="color: var(--bs-primary)">
                  <svg width="30" height="24" viewBox="0 0 250 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.3002 1.25469L56.655 28.6432C59.0349 30.1128 60.4839 32.711 60.4839 35.5089V160.63C60.4839 163.468 58.9941 166.097 56.5603 167.553L12.2055 194.107C8.3836 196.395 3.43136 195.15 1.14435 191.327C0.395485 190.075 0 188.643 0 187.184V8.12039C0 3.66447 3.61061 0.0522461 8.06452 0.0522461C9.56056 0.0522461 11.0271 0.468577 12.3002 1.25469Z"
                            fill="currentColor"/>
                    <path
                            opacity="0.077704"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0 65.2656L60.4839 99.9629V133.979L0 65.2656Z"
                            fill="black"/>
                    <path
                            opacity="0.077704"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0 65.2656L60.4839 99.0795V119.859L0 65.2656Z"
                            fill="black"/>
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M237.71 1.22393L193.355 28.5207C190.97 29.9889 189.516 32.5905 189.516 35.3927V160.631C189.516 163.469 191.006 166.098 193.44 167.555L237.794 194.108C241.616 196.396 246.569 195.151 248.856 191.328C249.605 190.076 250 188.644 250 187.185V8.09597C250 3.64006 246.389 0.027832 241.935 0.027832C240.444 0.027832 238.981 0.441882 237.71 1.22393Z"
                            fill="currentColor"/>
                    <path
                            opacity="0.077704"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M250 65.2656L189.516 99.8897V135.006L250 65.2656Z"
                            fill="black"/>
                    <path
                            opacity="0.077704"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M250 65.2656L189.516 99.0497V120.886L250 65.2656Z"
                            fill="black"/>
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                            fill="currentColor"/>
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                            fill="white"
                            fill-opacity="0.15"/>
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                            fill="currentColor"/>
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                            fill="white"
                            fill-opacity="0.3"/>
                  </svg>
                </span>
              </span>
                    <span class="app-brand-text demo menu-text fw-semibold ms-2">Materio</span>
                </a>

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                    <i class="menu-toggle-icon d-xl-block align-middle"></i>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <ul id="custom-menu-container" class="menu-inner py-1">
            </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <nav
                    class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                        <i class="ri-menu-fill ri-24px"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Basic Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);" class="d-flex align-items-center"
                                ><i class="menu-icon tf-icons ri-home-smile-line"></i>Trang chủ</a
                                >
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);" class="d-flex align-items-center"
                                ><i class="ri-map-pin-2-line ri-20px me-1 text-body"></i>Quản lý chi nhánh</a
                                >
                            </li>
                        </ol>
                    </nav>
                    <!-- Basic Breadcrumb -->

                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <!-- Place this tag where you want the button to render. -->

                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a
                                    class="nav-link dropdown-toggle hide-arrow p-0"
                                    href="javascript:void(0);"
                                    data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <div class="avatar avatar-online">
                                                    <img src="/assets/img/avatars/1.png" alt
                                                         class="w-px-40 h-auto rounded-circle"/>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-0 small" th:text="${account.fullName}"></h6>
                                                <small class="text-muted">Quản trị viên</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="btnChangePassword">
                                        <i class="ri-key-line ri-22px me-2"></i>
                                        <span class="align-middle">Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <div class="d-grid px-4 pt-2 pb-1">
                                        <a class="btn btn-danger d-flex" href="/auth/logout">
                                            <small class="align-middle">Logout</small>
                                            <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>
            </nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h3>Quản lý chi nhánh</h3>
                    <!-- Bootstrap Table with Caption -->
                    <div class="card">
<!--                        <h5 class="card-header">Table Caption</h5>-->
                        <div class="row">
                            <div class="col-md-6 ms-3 mt-4" style="width: 40%; height: 60px">
                                <!-- Search -->
                                <div class="input-group">
                                    <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Tìm kiếm theo tên..."
                                            aria-label="Recipient's username"
                                            aria-describedby="button-addon2" />
                                    <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="ri-search-line"></i></button>
                                </div>
                                <!-- /Search -->
                            </div>

                            <div class="col-md-6 text-end mt-4" >
                                <button id="create-branch" type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#largeModal">
                                    <span class="tf-icons ri-add-line ri-16px me-1_5"></span>Tạo mới
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive text-nowrap">
                            <table id="custom-table" class="table">
                                <caption>
                                    <!-- Outline Pagination -->
                                    <nav aria-label="Page navigation">
                                        <ul id="branches-pagination" class="pagination pagination-outline-primary">
                                            <li class="page-item first">
                                                <a class="page-link" href="javascript:void(0);"
                                                ><i class="tf-icon ri-skip-back-mini-line ri-22px"></i
                                                ></a>
                                            </li>
                                            <li class="page-item prev">
                                                <a class="page-link" href="javascript:void(0);"
                                                ><i class="tf-icon ri-arrow-left-s-line ri-22px"></i
                                                ></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);">2</a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="javascript:void(0);">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);">4</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);">5</a>
                                            </li>
                                            <li class="page-item next">
                                                <a class="page-link" href="javascript:void(0);"
                                                ><i class="tf-icon ri-arrow-right-s-line ri-22px"></i
                                                ></a>
                                            </li>
                                            <li class="page-item last">
                                                <a class="page-link" href="javascript:void(0);"
                                                ><i class="tf-icon ri-skip-forward-mini-line ri-22px"></i
                                                ></a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!--/ Outline Pagination -->
                                </caption>
                                <thead>
                                <tr>
                                    <th>Chi nhánh</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5" class="text-center">Không có dữ liệu</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Bootstrap Table with Caption -->

                </div>
                <!-- / Content -->

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl">
                        <div
                                class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                            <div class="text-body mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                , made with <span class="text-danger"><i class="tf-icons ri-heart-fill"></i></span> by
                                <a href="https://themeselection.com" target="_blank"
                                   class="footer-link">ThemeSelection</a>
                            </div>
                            <div class="d-none d-lg-inline-block">
                                <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                                <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More
                                    Themes</a>

                                <a
                                        href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/"
                                        target="_blank"
                                        class="footer-link me-4"
                                >Documentation</a
                                >

                                <a
                                        href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free/issues"
                                        target="_blank"
                                        class="footer-link"
                                >Support</a
                                >
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Large Modal -->
    <div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Modal title</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="bId" hidden="hidden" />
                    <div class="row">
                        <div class="col mb-6 mt-2">
                            <div class="form-floating form-floating-outline">
                                <input type="text" id="nameLarge" class="form-control" placeholder="Nhập tên chi nhánh" />
                                <label for="nameLarge">Tên chi nhánh*</label>
                            </div>
                            <span id="nameLarge-error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-6 mt-2">
                            <div class="form-floating form-floating-outline">
                                <input type="text" id="address" class="form-control" placeholder="Chọn từ bản đồ" readonly/>
                                <label for="address">Địa chỉ*</label>
                            </div>
                            <span id="address-error"></span>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col mb-2">
                            <div class="form-floating form-floating-outline">
                                <input
                                        type="email"
                                        id="emailLarge"
                                        class="form-control"
                                        placeholder="xxxx@xxx.xx" />
                                <label for="emailLarge">Email*</label>
                            </div>
                            <span id="emailLarge-error"></span>
                        </div>
                        <div class="col mb-2">
                            <div class="form-floating form-floating-outline">
                                <input
                                        type="number"
                                        maxlength="11"
                                        minlength="10"
                                        id="phone"
                                        class="form-control"
                                        placeholder="Nhập số điện thoại" />
                                <label for="phone">Số điện thoại*</label>
                            </div>
                            <span id="phone-error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-6 mt-2">
                            <div class="form-check mt-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                                <label class="form-check-label" for="defaultCheck1"> Chi nhánh còn hoạt động? </label>
                            </div>
                        </div>
                    </div>
                    <div id="map" style="height: 300px; width: 760px; margin-top: 5px;"></div>
                    <div class="coordinates">
                        <input type="text" id="lat" readonly hidden="hidden">
                        <input type="text" id="lng" readonly hidden="hidden">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Đóng
                    </button>
                    <button type="button" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/js/menu.js"></script>

<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Page JS -->

<!-- Place this tag before closing body tag for github widget button. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


<!--    data-->
<script src="/data/menu-items.js"></script>

<!--    custom-->
<script src="/js/custom/common.js"></script>
<script src="/js/custom/render-menu.js"></script>
<script src="/js/custom/render-pagination.js"></script>
<script src="/js/custom/branches.js"></script>
<script src="/js/custom/custom-ui-toast.js"></script>

<!-- Mapbox CSS + JS -->
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoia2llbm52aGUxNjM3NzEiLCJhIjoiY204YmU4dTg2MW1kMzJub202a2xiaGZnaiJ9.JAtn6ifs0DFyPiAV9cTzHA';
    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [105.85, 21.02], // Hà Nội
        zoom: 10
    });

    // Thêm geocoder (search box)
    const geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
    });
    map.addControl(geocoder);

    // Marker khi click map
    let marker = null;
    map.on('click', function (e) {
        const lngLat = e.lngLat;

        // Hiển thị marker
        if (marker) marker.remove();
        marker = new mapboxgl.Marker()
            .setLngLat([lngLat.lng, lngLat.lat])
            .addTo(map);
        reverseGeocode(lngLat.lng, lngLat.lat);
        // Gán vào input
        document.getElementById('lat').value = lngLat.lat.toFixed(6);
        document.getElementById('lng').value = lngLat.lng.toFixed(6);
    });

    // Nếu chọn từ ô search
    geocoder.on('result', function(e) {
        const coords = e.result.center;
        document.getElementById('lat').value = coords[1].toFixed(6);
        document.getElementById('lng').value = coords[0].toFixed(6);
        reverseGeocode(coords[1].toFixed(6), coords[0].toFixed(6));
    });

    function reverseGeocode(lng, lat) {
        fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${lng},${lat}.json?access_token=${mapboxgl.accessToken}`)
            .then(res => res.json())
            .then(data => {
                console.log('dd', data);
                if (data.features.length > 0) {
                    document.getElementById('address').value = data.features[0].place_name;
                }
            });
    }
</script>


</body>
</html>
