<!doctype html>

<html
        lang="en"
        class="light-style layout-menu-fixed layout-compact"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-free"
        data-style="light">
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Chi tiết phim</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
          rel="stylesheet" />

  <link rel="stylesheet" href="/assets/vendor/fonts/remixicon/remixicon.css" />

  <!-- Menu waves for no-customier fix -->
  <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="/assets/css/custom/movie-detail.css" />

  <!-- Page CSS -->
  <link rel="stylesheet" href="/assets/css/custom/loading.css"/>

  <!-- Helpers -->
  <script src="/assets/vendor/js/helpers.js"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="/assets/js/config.js"></script>
</head>
<style>
  .movie-card {
    background: #fff;
    /*border-radius: 15px;*/
    padding: 20px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  }
  .poster-img {
    max-width: 100%;
    border-radius: 10px;
  }
  .badge-rating {
    font-size: 1.2rem;
    background-color: #ffc107;
    padding: 5px 10px;
    border-radius: 10px;
  }
</style>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <div class="app-brand demo">
        <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo me-1">
                <span style="color: var(--bs-primary)">
                  <svg width="30" height="24" viewBox="0 0 250 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.3002 1.25469L56.655 28.6432C59.0349 30.1128 60.4839 32.711 60.4839 35.5089V160.63C60.4839 163.468 58.9941 166.097 56.5603 167.553L12.2055 194.107C8.3836 196.395 3.43136 195.15 1.14435 191.327C0.395485 190.075 0 188.643 0 187.184V8.12039C0 3.66447 3.61061 0.0522461 8.06452 0.0522461C9.56056 0.0522461 11.0271 0.468577 12.3002 1.25469Z"
                            fill="currentColor" />
                    <path
                            opacity="0.077704"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0 65.2656L60.4839 99.9629V133.979L0 65.2656Z"
                            fill="black" />
                    <path
                            opacity="0.077704"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0 65.2656L60.4839 99.0795V119.859L0 65.2656Z"
                            fill="black" />
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M237.71 1.22393L193.355 28.5207C190.97 29.9889 189.516 32.5905 189.516 35.3927V160.631C189.516 163.469 191.006 166.098 193.44 167.555L237.794 194.108C241.616 196.396 246.569 195.151 248.856 191.328C249.605 190.076 250 188.644 250 187.185V8.09597C250 3.64006 246.389 0.027832 241.935 0.027832C240.444 0.027832 238.981 0.441882 237.71 1.22393Z"
                            fill="currentColor" />
                    <path
                            opacity="0.077704"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M250 65.2656L189.516 99.8897V135.006L250 65.2656Z"
                            fill="black" />
                    <path
                            opacity="0.077704"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M250 65.2656L189.516 99.0497V120.886L250 65.2656Z"
                            fill="black" />
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                            fill="currentColor" />
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                            fill="white"
                            fill-opacity="0.15" />
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                            fill="currentColor" />
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                            fill="white"
                            fill-opacity="0.3" />
                  </svg>
                </span>
              </span>
          <span class="app-brand-text demo menu-text fw-semibold ms-2">Materio</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
          <i class="menu-toggle-icon d-xl-block align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <ul id="custom-menu-container" class="menu-inner py-1">

      </ul>
    </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <nav
              class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
              id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
            <i class="ri-menu-fill ri-24px"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);" class="d-flex align-items-center"
                ><i class="menu-icon tf-icons ri-home-smile-line"></i>Trang chủ</a
                >
              </li>
              <li class="breadcrumb-item">
                <a href="/movie-management" class="d-flex align-items-center"
                ><i class="ri-movie-2-line ri-20px me-1 text-body"></i>Quản lý phim</a
                >
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0);" class="d-flex align-items-center"
                ><i class="ri-film-line ri-20px me-1 text-body"></i>Chi tiết phim</a
                >
              </li>
            </ol>
          </nav>

          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a
                      class="nav-link dropdown-toggle hide-arrow p-0"
                      href="javascript:void(0);"
                      data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                  <img src="/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0 me-2">
                        <div class="avatar avatar-online">
                          <img src="/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <h6 class="mb-0 small" th:text="${account.fullName}"></h6>
                        <small class="text-muted">Quản trị viên</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" id="btnChangePassword">
                    <i class="ri-user-3-line ri-22px me-2"></i>
                    <span class="align-middle">Đổi mật khẩu</span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <div class="d-grid px-4 pt-2 pb-1">
                    <a class="btn btn-danger d-flex" href="/auth/logout">
                      <small class="align-middle">Logout</small>
                      <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
            <!--/ User -->
          </ul>
        </div>
      </nav>

      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          <!-- Tabs -->
          <h3 class="" th:text="${'Thông tin chi tiết phim ' + movie.title}"></h3>

          <div class="row gy-6">
              <div class="card mb-6">
                <div class="card-header px-0 pt-0">
                  <div class="nav-align-top">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <button
                                type="button"
                                class="nav-link active"
                                role="tab"
                                data-bs-toggle="tab"
                                data-bs-target="#navs-justified-home"
                                aria-controls="navs-justified-home"
                                aria-selected="true">
                              <span class="d-none d-sm-block">
                                <i class="tf-icons ri-information-line me-1_5"></i> Thông tin cơ bản
                              </span><i class="ri-home-smile-line ri-20px d-sm-none"></i>
                        </button>
                      </li>
                      <li class="nav-item">
                        <button
                                type="button"
                                class="nav-link"
                                role="tab"
                                data-bs-toggle="tab"
                                data-bs-target="#navs-justified-profile"
                                aria-controls="navs-justified-profile"
                                aria-selected="false">
                              <span class="d-none d-sm-block"
                              ><i class="tf-icons ri-group-line me-1_5"></i> Diễn viên & đoàn làm phim</span
                              ><i class="ri-user-3-line ri-20px d-sm-none"></i>
                        </button>
                      </li>
                      <li class="nav-item">
                        <button
                                type="button"
                                class="nav-link"
                                role="tab"
                                data-bs-toggle="tab"
                                data-bs-target="#navs-justified-messages"
                                aria-controls="navs-justified-messages"
                                aria-selected="false">
                              <span class="d-none d-sm-block"
                              ><i class="tf-icons ri-slideshow-4-line me-1_5"></i> Suất chiếu phim</span
                              ><i class="ri-slideshow-4-line ri-20px d-sm-none"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content p-0">
                    <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">
                      <div class="container mt-4">
                        <div class="row">
                          <div class="col-md-4">
                            <img th:src="${movie.posterUrl}" alt="Poster phim" class="poster-img img-fluid">
                          </div>
                          <div class="col-md-8 movie-card">
                            <h2>
                              <span th:text="${movie.title}"></span>
                            </h2>
                            <p><strong>Năm:</strong> <span th:text="${movie.releaseDate.year}"></span> • <strong>Thời lượng:</strong> <span th:text="${movie.duration}"></span> phút</p>
                            <p><strong>Ngày chiếu:</strong> <span th:text="${#temporals.format(movie.releaseDate, 'dd/MM/yyyy')}"></span></p>
                            <p><strong>Thể loại:</strong> <span th:text="${movie.genre}"></span></p>
                            <p><strong>Quốc gia:</strong> <span th:text="${movie.country}"></span></p>
                            <h5>Nội dung</h5>
                            <p th:text="${movie.description}"></p>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#trailerModal">
                              🎬 Xem Trailer
                            </button>
<!--                            <a href="#" class="btn btn-warning">⭐ Xem Review</a>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="input-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Nhập từ khóa..."
                                    aria-label="Recipient's username"
                                    aria-describedby="button-addon2" />
                            <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="ri-search-line"></i></button>
                          </div>
                        </div>
                        <div class="col-md-4 text-end">
                          <button id="btnUpdateMoviePerson" type="button" class="btn btn-lg btn-primary" >
                            <span class="tf-icons ri-settings-6-line ri-16px me-1_5"></span>Cập nhật
                          </button>
                        </div>
                      </div>

                      <div id="carousel-container"></div>
                    </div>
                    <div class="tab-pane fade" id="navs-justified-messages" role="tabpanel">
                      <div class="row">
                        <div class="col-md-3 ms-3 mt-4" style="width: 40%; height: 60px">
                          <!-- Search -->
                          <div class="input-group">
                            <button
                                    type="button"
                                    class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    aria-expanded="false">
                              <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Tìm kiếm theo trạng thái..."
                                    aria-label="Recipient's username"
                                    aria-describedby="button-addon2" />
                            <button class="btn btn-outline-primary rounded-end" type="button" id="button-addon22">
                              <i class="ri-search-line"></i>
                            </button>

                            <div class="dropdown-menu w-100 dropdown-menu-md-start">
                              <div class="p-4 mt-2">
                                <div class="row g-4">
                                  <div class="col-12 mb-4">
                                    <div class="form-floating form-floating-outline">
                                      <input type="datetime-local" id="startDate1" class="form-control" />
                                      <label for="startDate1">Ngày bắt đầu</label>
                                    </div>
                                  </div>
                                  <div class="col-12 mb-4">
                                    <div class="form-floating form-floating-outline">
                                      <input type="datetime-local" id="endDate1" class="form-control" />
                                      <label for="endDate1">Ngày kết thúc</label>
                                    </div>
                                  </div>
                                  <div class="col mb-4">
                                    <div class="form-floating form-floating-outline mb-6">
                                      <select class="form-select" id="selectRoom" aria-label="Default select example">

                                      </select>
                                      <label for="selectRoom">Chọn phòng chiếu</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="text-end">
                                  <button id="advanceSearch2" type="button" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                              </div>
                            </div>

                          </div>
                          <!-- /Search -->
                        </div>
                        <div class="col-md-3 mt-4">
                          <div class="form-floating form-floating-outline mb-6">
                            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">

                            </select>
                            <label for="exampleFormControlSelect1">Chọn chi nhánh</label>
                          </div>
                        </div>
                        <div class="col-md-3 text-end mt-4" >
                          <button id="btnUpdatePrice" type="button" style="font-size: small" class="btn btn-lg btn-outline-primary">
                            <span class="tf-icons ri-price-tag-3-fill ri-16px me-1_5"></span>Đổi Giá
                          </button>
                          <button id="btnCreate2" type="button" style="font-size: small" class="btn btn-lg btn-primary" data-bs-toggle="modal"
                                  data-bs-target="#largeModal2">
                            <span class="tf-icons ri-edit-line ri-16px me-1_5"></span>Thêm/Sửa
                          </button>
                        </div>
                      </div>

                      <div class="table-responsive text-nowrap">
                        <table id="custom-table" class="table">
                          <caption>
                            <!-- Outline Pagination -->
                            <nav aria-label="Page navigation">
                              <ul id="showtime-pagination" class="pagination pagination-outline-primary">
                                <li class="page-item first">
                                  <a class="page-link" href="javascript:void(0);"
                                  ><i class="tf-icon ri-skip-back-mini-line ri-22px"></i
                                  ></a>
                                </li>
                                <li class="page-item prev">
                                  <a class="page-link" href="javascript:void(0);"
                                  ><i class="tf-icon ri-arrow-left-s-line ri-22px"></i
                                  ></a>
                                </li>
                                <li class="page-item active">
                                  <a class="page-link" href="javascript:void(0);">...</a>
                                </li>
                                <li class="page-item next">
                                  <a class="page-link" href="javascript:void(0);"
                                  ><i class="tf-icon ri-arrow-right-s-line ri-22px"></i
                                  ></a>
                                </li>
                                <li class="page-item last">
                                  <a class="page-link" href="javascript:void(0);"
                                  ><i class="tf-icon ri-skip-forward-mini-line ri-22px"></i
                                  ></a>
                                </li>
                              </ul>
                            </nav>
                            <!--/ Outline Pagination -->
                          </caption>
                          <thead>
                          <tr>
                            <th>
                              <input class="form-check-input" type="checkbox" id="showtime-selectAll" />
                            </th>
                            <th>Phòng chiếu</th>
                            <th>Thời gian</th>
                            <th>Giá</th>
                            <th>Trạng thái</th>
<!--                            <th>Hành động</th>-->
                          </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="6" class="text-center">Không có dữ liệu</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- Tabs -->
        </div>
        <!-- / Content -->

        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme">
          <div class="container-xxl">
            <div
                    class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
              <div class="text-body mb-2 mb-md-0">
                ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                , made with <span class="text-danger"><i class="tf-icons ri-heart-fill"></i></span> by
                <a href="#"
                   class="footer-link">Booking ticket website</a>
              </div>
              <!--                            <div class="d-none d-lg-inline-block">-->
              <!--                                <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>-->
              <!--                                <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More-->
              <!--                                    Themes</a>-->

              <!--                                <a-->
              <!--                                        href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/"-->
              <!--                                        target="_blank"-->
              <!--                                        class="footer-link me-4"-->
              <!--                                >Documentation</a-->
              <!--                                >-->

              <!--                                <a-->
              <!--                                        href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free/issues"-->
              <!--                                        target="_blank"-->
              <!--                                        class="footer-link"-->
              <!--                                >Support</a-->
              <!--                                >-->
              <!--                            </div>-->
            </div>
          </div>
        </footer>
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
  <input id="movieId" th:value="${movie.movieId}" hidden="hidden">
  <input type="number" id="movieDuration" class="form-control" hidden="hidden" th:value="${movie.duration}" placeholder="Nhập thời lượng phim">

  <div class="modal fade" id="trailerModal" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="trailerModalLabel" th:text="'Trailer - ' + ${movie.title}"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Nhúng video trailer -->
          <div class="ratio ratio-16x9">
            <iframe id="trailerVideo" th:src="@{${movie.trailerUrl}}"
                    frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Large Modal -->
  <div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">Modal title</h5>
          <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row"  style="max-height: 580px; overflow-y: auto;">
            <div class="col-md-6">
              <input type="text" id="inputSearchPerson" class="form-control mb-2" placeholder="Tìm kiếm theo tên diễn viên" style="position: sticky; top: 0; z-index: 1020; background: white;">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th></th>
                  <th>Hình ảnh</th>
                  <th>Tên</th>
                  <th>Ngày sinh</th>
                </tr>
                </thead>
                <tbody id="actor-table" >

                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <div id="selected-actors" class="row mt-5">
              </div>
            </div>
          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Đóng
          </button>
          <button type="button" class="btn btn-primary">Lưu thông tin</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Large Modal -->
  <div class="modal fade" id="largeModal2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel32">Modal title</h5>
          <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 mb-4">
              <h5 th:text="${'Phim ' + movie.title}"></h5>
              <span th:text="${'Thời lượng: ' + movie.duration + ' phút'}"></span>
            </div>
          </div>
          <div class="row">


          </div>

          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="form-floating form-floating-outline">
                <input type="date" id="showDate" class="form-control">
                <label for="showDate">Ngày bắt đầu chiếu*</label>
              </div>
              <span id="showDate-error"></span>
            </div>
            <div class="col-md-4 mb-4">
              <div class="form-floating form-floating-outline">
                <input type="date" id="endDate" class="form-control">
                <label for="endDate">Ngày kết thúc chiếu*</label>
              </div>
              <span id="endDate-error"></span>
            </div>
            <div class="col-md-4 mb-4">
              <div class="form-floating form-floating-outline">
                <input type="time" id="startTime" class="form-control">
                <label for="startTime">Thời gian bắt đầu*</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="form-floating form-floating-outline mb-6">
                <select class="form-select" id="roomSelectModal" aria-label="Default select example">
                </select>
                <label for="roomSelectModal">Chọn phòng chiếu</label>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="form-floating form-floating-outline">
                <input type="number" id="price" class="form-control" placeholder="Nhập giá vé">
                <label for="price">Giá vé*</label>
              </div>
              <span id="price-error"></span>
            </div>
            <div class="col-md-4 mb-4">
              <div class="form-floating form-floating-outline">
                <input type="number" id="showCount" class="form-control" placeholder="Nhập số suất chiếu">
                <label for="showCount">Số suất chiếu trong ngày*</label>
              </div>
            </div>
          </div>

          <button id="createMultiple" class="btn btn-primary mt-3" onclick="generateShowtimesData()"><i class="ri-ai-generate me-2"></i>Tạo suất chiếu</button>
          <button id="createSingleBtn" class="btn btn-primary mt-3"><i class="ri-menu-add-line me-2"></i>Thêm suất chiếu</button>

          <h5 class="mt-4">Danh sách suất chiếu:</h5>
          <p style="color: red">*Những suất chiếu đã có người đặt vé sẽ không thể xóa</p>
          <div id="showtimesContainer"></div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Đóng
          </button>
          <button id="btnSave2" type="button" class="btn btn-primary">Lưu thông tin</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Xác Nhận Xóa -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteLabel">Xác nhận xóa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xóa mục này không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-danger" onclick="deleteConfirmed()">Xóa</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Xác Nhận Xóa -->
  <div class="modal fade" id="updatePriceModal" tabindex="-1" aria-labelledby="updatePriceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updatePriceModalLabel">Cập nhật giá</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="updatePriceList"></div>
          <div class="mb-4">
            <div class="form-floating form-floating-outline">
              <input type="number" id="newPrice" class="form-control" placeholder="Nhập giá vé">
              <label for="newPrice">Giá vé*</label>
            </div>
            <span id="newPrice-error"></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" onclick="updatePrice()">Cập nhật</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/js/menu.js"></script>

<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Page JS -->
<!--    data-->
<script src="/data/menu-items.js"></script>

<!--    custom-->
<script src="/js/custom/common.js"></script>
<script src="/js/custom/render-menu.js"></script>
<script src="/js/custom/render-pagination.js"></script>
<script src="/js/custom/custom-ui-toast.js"></script>
<script src="/js/custom/movie-detail.js"></script>
<script src="/js/custom/showtime.js"></script>

<!-- Place this tag before closing body tag for github widget button. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
